{%extends "login.html"%}
{%block title%}
    <title>signup</title>
{%endblock%}


{%block content%}
<style>
    .image{
     background-image: url('https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/6a774eae58995bc8e1d5326d30d2cb73-1650458203560/gold%20color-min.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    }
    </style>

    <div class="container-fluid image">
        <div class="row d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="col-md-3 bg-white shadow  d-flex  justify-content-center" style="border-radius:10px">
        
    <form method="POST">
      {%csrf_token%}
        <h1 class="text-center mt-5 fw-bold">SIGNUP PAGE</h1>
        
        <div >
          <label for="exampleInputEmail1" class="form-label"></label>
          <input type="text" class="form-control rounded-pill" name="Username" placeholder="Username" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 300px;">
          <p class="text-danger text-center">{{error_uname}}</p>

        </div>

        <div >
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="email" class="form-control rounded-pill" name="email" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 300px;">
            <p class="text-danger text-center">{{error_email}}</p>

          </div>

          <div class="">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="password" class="form-control rounded-pill" name="password" placeholder="Password" id="exampleInputPassword1" style="width: 300px;">
            <p class="text-danger text-center">{{error_pass}}</p>

          </div>
        <div class="">
          <label for="exampleInputPassword1" class="form-label"></label>
          <input type="password" class="form-control rounded-pill" name="con_password" placeholder="Confirm password" id="exampleInputPassword1" style="width: 300px;">
        </div>
           <p class="text-danger text-center">{{error_all}}</p>
         <div class=" mt-3 d-flex justify-content-center">
          
        <button type="submit" class="btn btn-dark w-50 rounded-pill">signup</button>
       
       </div>
       <div class=" mt-5">
        <p >Alreday have an account? <a href="{%url 'Login'%}" class="text-decoration-none">Login</a></p>
       </div>
      </form>
    </div>
</div>
</div>
{%endblock%}